.title-about {
    color: var(--color-blue-950);
    font-size: 7rem;
    padding: 2rem;
}

.section-about{
    background-image: url('/images/about-bg.png');
    background-size: cover;
    width: 63rem;
    height: 100vh;
    position: absolute;
    top: 53rem;
    left: 14rem;
}

.text{
    font-size: 1.3rem;
}

.font-family{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}
.pr-right{
    padding-right: 33rem;
}

.btn-down-about{
    width: 32rem;
    height: 9rem;
    position: relative;
    left: 8rem;
}